registry=https://whatfixartifactory.jfrog.io/artifactory/api/npm/wfx-npm-release/
always-auth=true
//whatfixartifactory.jfrog.io/artifactory/api/npm/wfx-npm-release/:_auth=cm9oaXQua3VtYXI6QVA1a0VSNmdoTDVyZkZIZ1VOWllzM2NiU3hL
